header {
    background-color: lightgreen;
    width: 100%;
    border-radius: 5px;
}

header h1{
    margin-left: 5px;
}

header h3 {
    margin-left: 5px;
}

body {
    background-color: rgb(0, 163, 0);
}

#searchbar {
    width: 30%;
}

#history {
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
    border-radius: 5px;
    width: 100%;
}

#container {
    display: flex;
    flex-wrap: nowrap;
}

.weatherCard {
    border: solid black 1px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    background-color: lightgreen;
}

#forecast-display {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.forecastCard {
    width: 15%;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: lightgreen;
}

.forecastCard h2 {
    text-align: center;
}